{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <form method="POST">
                <h1 class="h3 mb-3 fw-normal text-center text-light">Register</h1>
                {% render_field form.email class="form-control" placeholder="E-mail" type="email" %}
                <br>
                {% render_field form.user_name class="form-control" placeholder="Username" %}
                <br>
                {% render_field form.password1 class="form-control" placeholder="Password" type='password' %}
                <br>
                {% render_field form.password2 class="form-control" placeholder="Password Confirmation" type="password" %}
                <br>
                <button class="w-100 btn btn-lg btn-outline-warning" type="submit">Sign in</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}