{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/braintree.css' %}">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="demo-frame">  
                <form method="post" id="payment">
                <label class="hosted-fields--label text-light" for="card-number">Card Number</label>
                <div id="card-number" class="hosted-field"></div>
              
                <label class="hosted-fields--label text-light" for="expiration-date">Expiration Date</label>
                <div id="expiration-date" class="hosted-field"></div>
              
                <label class="hosted-fields--label text-light" for="cvv">CVV</label>
                <div id="cvv" class="hosted-field"></div>
              
                <div class="button-container">
                <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                <input type="submit" class="button button--small button--green text-dark fw-bold" value="Purchase"/>
                </div>
                {% csrf_token %}
                </form>
              </div>
              <script src="https://js.braintreegateway.com/web/3.58.0/js/client.min.js"></script>
              <script src="https://js.braintreegateway.com/web/3.58.0/js/hosted-fields.min.js"></script>
              <script>
                var form = document.querySelector('#payment');
                var submit = document.querySelector('input[type="submit"]');
            
                braintree.client.create({
                  authorization: '{{ client_token }}'
                }, function (clientErr, clientInstance) {
                  if (clientErr) {
                    console.error(clientErr);
                    return;
                  }
            
                  braintree.hostedFields.create({
                    client: clientInstance,
                    styles: {
                      'input': {'font-size': '16px'},
                      'input.invalid': {'color': 'red'},
                      'input.valid': {'color': 'green'}
                    },
                    fields: {
                      number: {selector: '#card-number', placeholder: '4111 1111 1111 1111'},
                      cvv: {selector: '#cvv', placeholder: '123'},
                      expirationDate: {selector: '#expiration-date', placeholder: 'MM/YYYY'}
                    }
                  }, function (hostedFieldsErr, hostedFieldsInstance) {
                    if (hostedFieldsErr) {
                      console.error(hostedFieldsErr);
                      return;
                    }
            
                    submit.removeAttribute('disabled');
            
                    form.addEventListener('submit', function (event) {
                      event.preventDefault();
            
                      hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                          console.error(tokenizeErr);
                          return;
                        }
                        document.getElementById('nonce').value = payload.nonce;
                        document.getElementById('payment').submit();
                      });
                    }, false);
                  });
                });
              </script>
        </div>
        <span class="text-success fw-bold">Valided Card:</span>
        <span class="text-light">Card Number : 4111 1111 1111 1111</span>
        <span class="text-light">Expiration Date : 12/34</span>
        <span class="text-light">CVV : 123</span>
        <span class="text-light"><small><em>braintree by paypal</em></small></span>
    </div>
</div>

{% endblock %}