{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for pack in packs %}
        <div class="col">
          <div class="card border-secondary text-center bg-transparent text-success">
            <div class="card-body">
              <h4 class="card-title text text-light">{{pack.name}}</h4>
              <h6 class="card-title text-light text fw-bold">{{pack.token_amount}} Token</h6>
              <p class="card-text text-light">{{pack.description}}</p>
              <h5 class="card-title text">${{pack.total_price}}</h5>
              <a href="{% url 'payment:process' pack.id %}" class="btn btn-outline-secondary">Buy</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}