{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <form method="POST">
                <h1 class="h3 mb-3 fw-normal text-center text-light">Log in</h1>
                {% render_field form.username class="form-control" type="email" %}
                <br>
                {% render_field form.password class="form-control" type="password" %}
                <br>
                <button class="w-100 btn btn-lg btn-outline-warning" type="submit">Sign in</button>
                {% csrf_token %}
                <hr>
                <a class="text-light" href="{% url 'password_reset' %}">Forgotten your password?</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}