{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <form method="POST">
                <h1 class="h3 mb-3 fw-normal text-center">
                    We've emailed you instructions for setting your password. <br><br>
                    If you don't receive an email, please make sure you've entered the address you registered with.
                </h1>
            </form>
        </div>
    </div>
</div>
{% endblock %}