{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <form method="POST">
                <h1 class="h3 mb-3 fw-normal text-center text-light">Change Your Password</h1>
                {% render_field form.old_password class="form-control" placeholder="Old password" %}
                <span class="text-light">{{form.old_password.errors}}</span>
                <br>
                {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
                <br>
                {% render_field form.new_password2 class="form-control" placeholder="Password Confirmation" %}
                <span class="text-light">{{form.new_password2.errors}}</span>
                <br>
                <button class="w-100 btn btn-lg btn-outline-warning" type="submit">Change</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}