{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <form method="POST">
                <h1 class="h3 mb-3 fw-normal text-center text-light">Reset your password</h1>
                <div>
                    {% render_field form.email class="form-control" placeholder="Enter your e-mail" %}
                    <br>
                </div>
                <button class="w-100 btn btn-lg btn-outline-warning" type="submit">Continue</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}