{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <table class="table table-sm table-bordered border-secondary">
                <thead>
                    <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Currency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in currencies.items %}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <form method="POST">
                <h1 class="h3 mb-3 fw-normal text-center">Create an Investment Advice</h1>
                    <!-- {{form.base_value}}
                    {{form.target_value}} -->
                    <label for="base_currency">Base Currency:</label>
                    <select class="form-control" name="base_currency" id="base_currency">
                        {% for key, value in currencies.items %}
                        <option value="{{key}}">
                            {{key}}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="target_currency">Target Currency:</label>
                    <select class="form-control" name="target_currency" id="target_currency">
                        {% for key, value in currencies.items %}
                        <option value="{{key}}">
                            {{key}}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="target_date">Target Date:</label>
                    {{form.target_date}}
                <br>
                <button class="w-100 btn btn-lg btn-secondary" type="submit">Create</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="col-3">
            <table class="table table-sm table-bordered border-secondary">
                <thead>
                    <tr>
                        <form method="POST">
                        <td>
                            <select class="form-select" name="rate" id="rate">
                                {% for key in currencies %}
                                <option value="{{key}}">{{key}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <th>
                            <input class="btn btn-secondary" type="submit" value="Change Base">
                            {% csrf_token %}
                        </form>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Base : {{latest.base}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in latest.rates.items %}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}