{% extends 'base.html' %}

{% block content %}
<div class="container center">
    <div class="row justify-content-md-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% if investor_profile.image %} {{investor_profile.image.url}} {% endif%} " alt=" " width="180" height="180">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'profile:user_profile' investor_profile.slug %}">{{invest_model.investor}}</a></h5>
                  <p class="card-text">{{invest_model.description}}</p>
                  <p class="card-text"><button type="button" class="btn btn-secondary">Buy This Advice :  <strong>{{invest_model.token}}</strong> Token</button></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}