{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  </head>
  <body>
    
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="text-center">
        <a class="blog-header-logo text-dark fs-1" href="{% url 'index' %}">FinDjango</a>
      </div>
    </div>
    {% if request.user.is_authenticated %}
    <p class="text-end">Token: {{user_token}}</p>
    {% endif %}
  </header>

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 btn btn-outline-secondary" href="{% url 'index' %}">Home</a>
        <a class="p-2 btn btn-outline-secondary" href="{% url 'investment:create_invest' %}">Create an Investment Advice</a>
        <a class="p-2 btn btn-outline-secondary" href="{% url 'result:result_index' %}">Results</a>
        <a class="p-2 btn btn-outline-secondary" href="{% url 'payment:purchasing_option' %}">Get Token</a>
        {% if request.user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{request.user|truncatechars:10}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'profile:my_profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'profile:profile_settings' %}">Settings</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
          </ul>
        </div>
        {% else %}
        <a class="p-2 btn btn-outline-secondary" href="{% url 'login' %}">Log in</a>
        <a class="p-2 btn btn-outline-secondary" href="{% url 'profile:register' %}">Sign up</a>
        {% endif %}
      </nav>
    </div>
  </div>
  <br>

  {% block content %}
  {% endblock %}
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
    </footer>
  </div>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>

