{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="alert alert-secondary fs-4 text-center" role="alert">
                Latest Advices
            </div>
            <table class="table table-sm table-bordered border-secondary">
                <thead>
                    <tr>
                        <th scope="col">Advisor</th>
                        <th scope="col">Target Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in latest_advices %}
                    <tr>
                        <td><a href="{% url 'investment:preview_invest' i.id %} ">{{i.investor}}</a></td>
                        <td>{{i.target_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                  Wellcome to FinDjango!
                </div>
                <div class="card-body">
                  <h5 class="card-title">FinDjango is financial consultancy app.</h5>
                  <p class="card-text">Here you can get advice or give advice.</p>
                </div>
            </div>
            <br>
            <div class="card-header text-center fs-3">
                Top Earning Advisor
            </div>
            <hr>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="alert alert-secondary fs-4 text-center" role="alert">
                Popular Advices
            </div>
            <table class="table table-sm table-bordered border-secondary">
                <thead>
                    <tr>
                        <th scope="col">Advisor</th>
                        <th scope="col">Members</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in popular_advices %}
                    <tr>
                        <td><a href="{% url 'investment:preview_invest' i.id %} ">{{i.investor}}</a></td>
                        <td class="text-center">{{i.member.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}