{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="alert alert-secondary fs-4 text-center" role="alert">
                Latest Advices
            </div>
            <table class="table table-sm table-bordered border-secondary">
                <thead>
                    <tr>
                        <th scope="col">Advisor</th>
                        <th scope="col">Target Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in latest_advices %}
                    <tr>
                        <td>{{i.investor}}</td>
                        <td>{{i.target_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                  Wellcome to FinDjango!
                </div>
                <div class="card-body">
                  <h5 class="card-title">FinDjango is financial consultancy app.</h5>
                  <p class="card-text">Here you can get advice or give advice.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="alert alert-secondary fs-4 text-center" role="alert">
                Popular Advisors
            </div>
            <table class="table table-sm table-bordered border-secondary">
                <thead>
                    <tr>
                        <th scope="col">Advisor</th>
                        <th scope="col">Win Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}